*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
secrets.properties
/app/assets/env
/app/src/main/res/values/strings.xml
/app/src/main/java/com/licoding/uber/core/domain/services/ApiKeyProvider.kt